nav#HeadNav {
  height: 2.5rem;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  font-size: 150%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
}
#HeadNav .backControl {
  display: inline-block;
  position: absolute;
  left: 1vw;
}
#HeadNav .backControl:hover {
  cursor: pointer;
}
#HeadNav .label {
  /* width: auto; */
}
#HeadNav .title {
}
