.AppGrid {
  display: grid;
  grid-gap: 5vmin;
  /* grid-auto-columns: calc(100vmin / 1em); */
  grid-auto-flow: column;
  align-self: center;
}
@media screen and (orientation: landscape) {
  :root {
    --icon-height: 20vh;
  }
  .AppGrid {
    grid-auto-columns: 15vw;
    grid-template-rows: repeat(3, 28vh);
  }
}
@media screen and (orientation: portrait) {
  .AppGrid {
    grid-auto-flow: row;
    column-gap: 10vw;
    grid-template-columns: repeat(4, 20vmin);
    /* grid-auto-rows: ; */
  }
}
