html {
  --font-size: calc(50% + 1.5vmin);
  box-sizing: border-box;
  font-size: var(--font-size);
}
.App {
  height: 80vh;
  height: 100%;
  width: 100vw;
  /* position: relative done here to make positioned elements work */
  position: relative;
  overflow: hidden;
}
.App > div.container {
  /* height: calc(100% - (var(--font-size) * 2.5 )); */
  margin-top: 8%;
  height: 83.75%;
  overflow-y: auto;
  overflow-x: hidden;
}
#app-load {
  display: none;
}
#app-load[data-show="true"] {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  content: "Loading...";
  background-color: rgba(200, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  font-size: xx-large;
  z-index: 9999;
}
