.App {
  height: 100vh;
  width: 100vw;
}
#app-load {
  display: none;
}
#app-load[data-show="true"] {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  content: "Loading...";
  background-color: rgba(200, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  font-size: xx-large;
  z-index: 9999;
}
